[submodule "extern/DAC-Core"]
	path = extern/DAC-Core
	url = git@github.com:Highlander-Space-Program/DAC-Core.git
[submodule "influxdb-cxx"]
	path = influxdb-cxx
	url = https://github.com/offa/influxdb-cxx
[submodule "extern/influxdb-cxx"]
	path = extern/influxdb-cxx
	url = https://github.com/offa/influxdb-cxx
